@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');



:root {
    --clr-primary-pink: hsl(322, 100%, 66%);
    --clr-pale-cyan: hsl(193, 100%, 96%);
    --clr-dark-cyan: hsl(192, 100%, 9%);
    --clr-grayish-blue: hsl(208, 11%, 55%);
    
  
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
  
    --fw-400: 500;
    --fw-600: 600;
    --fw-700: 600;
  
  }
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* font sizing */
  html {
    font-size: 62.5%;
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  body {
        background-color: white;
    }
    
  /* utilities */
  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}



  .cta-secondary {
    border: none;
    width: 115px;    
    height: 4rem;
    background-color: white;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    font-family: var(--ff-primary);
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }

  .cta-secondary:hover {
    color: var(--clr-primary-pink);
  }

  .cta-primary {
    border: none;
    width: 288px;    
    height: 4rem;
    background-color: var(--clr-dark-cyan);
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
    cursor: pointer;
    font-family: var(--ff-primary);
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
  }

  .cta-primary:hover {
    background-color: var(--clr-primary-pink);
  }
  

h1 {
    font-family: var(--ff-primary);
    font-size: 2.8rem;
}

h3 {
  font-family: var(--ff-primary);
  font-size: 2.4rem;
}

p {
    font-size: 2rem;
    font-family: var(--ff-secondary);
}

header {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img {
    height: 1.8rem;
}

.hero {
  margin: 0 auto;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 3rem;

  padding: 2rem;

  text-align: center;

  background-color: var(--clr-pale-cyan);
  background-image: url("./images/bg-hero-mobile.svg");
  background-position: cover;
  background-repeat: no-repeat;

}

.container {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 90%;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 1rem;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.container p {
  font-size: 1.6rem;
  color: var(--clr-grayish-blue);
}

.white-space {
  height: 8rem;
}

.card {
  background-color: blueviolet;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  margin: 0rem auto;

  width: 90%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

footer {
  padding: 2rem;
  
  background-color: var(--clr-dark-cyan);
}

.footer-container img {
  color : white;
  width: 50%;
}

.footer-content {
  
}

.contact-content {

}

.address {
  gap: 3rem;
}

footer p {
  color: var(--clr-grayish-blue);
  font-size: 1.6rem;
  max-width: 30ch ;
}

.phno {
  
  gap: 2rem;
}

.email {
  
  gap: 2rem;
}

.links a {
  font-family: var(--ff-secondary);
  color: var(--clr-grayish-blue);
  font-size: 1.6rem;
  text-decoration: none;
}